* {
font-family: 'Libre Franklin', sans-serif;
font-family: 'Raleway', sans-serif;
}


body {
	margin: 0;
}

nav a {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	padding: 10px;
}

body {
	margin: 0;
	background-color: rgb(233, 233, 233);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(177, 177, 177, 0.639);
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

footer {
	align-items: center;
	justify-content: space-between;
	display: flex;
	padding: 20px;
	background-color: rgb(233, 233, 233);
}

/* main */

main {
}

.logo img{
	max-width: 300px;
}

.logo {
	text-align: left;
	padding: 10px;
}

.slide {
	background-image: url("../img/slide.jpg");
	background-size: cover;
	height: 80vh;
	position: relative;
}

.slide:after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(250, 250, 250, 0.4);
}

.cta {
	color: rgb(27, 27, 27);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
		z-index: 1;
}

.cta a {
  text-decoration: none;
  text-transform: uppercase;
  color: white; 
  background-color: #000000c4;
  padding: 10px 20px;
  border-radius: 20px;
	font-weight: bold;
	z-index: 0;
}

.cta a:hover {
	color: rgb(14, 14, 14);
	background-color: whitesmoke;
}

.intro_text {
	text-align: center;
	padding: 30px;
	color:#000000c4 ;
	border-bottom: 2px solid #000000c4;
}

.container_box {
  display: flex;
}

.box {
	flex: 1;
	padding: 20px 5px;
	text-align: center;
}

.box img {
  width: 100%;
}

.box a {
	text-decoration: none;
  text-transform: uppercase;
  color: white; 
  background-color: #000000c4;
  padding: 10px 20px;
  border-radius: 20px;
	font-weight: 500;
	margin-top: 20px;
	display: inline-block;
}

.box a :hover {
	color: rgb(14, 14, 14);
	background-color: whitesmoke;
}

.bg_black {
	color: white;
	background-color: #000000c4;
	display: flex;
	padding: 30px;
}

.bg_black > div {
	flex: 1;
	padding: 20px;
}

.contacts label {
	color: white;
	width: 100%;
	display: inline-block;
	text-align: center;
}

.contacts input,
.contacts textarea {
	width: 100%;
	border-radius: 20px;
	border: 1px solid  #000000c4;
	padding: 5px;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.footer {
	display: flex;
}

.col_footer {
	color: rgb(0, 0, 0);
	flex: 1;
}

.col_footer:nth-child(2){
	text-align: center;
	color: rgb(0, 0, 0);
}

.col_footer:nth-child(3){
	color: rgb(0, 0, 0);
	text-align: right;
}

/* Regola per applicare la regola anche a mobile*/

@media only screen and (max-width: 678px){
	.container_box {
        flex-direction: column;
    }
    .box {
        border-bottom: 1px solid #000
    }
}

@media only screen and (max-width: 678px) {
    .container_box,
    .bg_black,
    footer {
        flex-direction: column;
    }
    .box {
        border-bottom: 1px solid #000
    }
    .col_footer:nth-child(2),
    .col_footer:nth-child(3) {
        text-align: left;
    }
}






